{% comment %}
  Advertising box at the top of a workshop website home page.
{% endcomment %}
<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <p>
        <img src="assets/img/sca.png"
             alt="Society of California Archivists"
             width="75%" />
      </p>
      <h2>{{page.title}}</h2>
     </div>
     <div class="col-md-6">
      <p>
      <strong>Instructor:</strong>
      {{page.instructor}}
      </p>
      <p>{{page.venue}}</p>
      <p>{{page.humandate}}</p>
      <p>{% if page.humantime %}{{page.humantime}}{% endif %}</p>
    </div>
  </div>
</div>
