{% comment %}
  Advertising box at the top of a workshop website home page.
{% endcomment %}
<div class="jumbotron">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-6">
          <h2>{{page.title}}</h2>
          <p>
            <img src="assets/im/sca.png"
            alt="Society of California Archivists"/>
          </p>
          <p>
          <strong>Instructor:</strong>
          {% if page.instructor %}
          {{page.instructor | join: ', ' %}}
          {% else %}
          to be announced.
          {% endif %}
          </p>

<!--           {% if page.helper %}
          <p>
          <strong>Helpers:</strong>
          {{page.helper | join: ', ' %}}
          </p>
          {% endif %}
 -->        </div>
         <div class="col-md-6">
          <p>{{page.venue}}</p>
          <p>{{page.humandate}}</p>
          <p>{% if page.humantime %}{{page.humantime}}{% endif %}</p>
        </div>
      </div>
    </div>
  </div>
</div>
