<h3>Overview</h3>
<p>It’s not true that everyone needs to learn to code, but it is true that there are many concrete ways that basic programming skills can save you time and hassle as an archivist. This workshop will introduce three useful computing tools–regular expressions, the Unix shell, and Python–with an eye toward applying these tools in day-to-day archives work.</p>
<h3>Goals</h3>
<p>Participants will come away with introductory hands-on experience with regular expressions, the Unix shell, and Python; ideas about how to apply these tools in their work for tasks such as data cleanup and renaming files in bulk; and knowledge of resources and strategies for continued learning about coding in an archives context.</p>
