<p>
    This full-day workshop will provide an approachable introduction to the ways that basic programming skills can help you more efficiently tackle common archival tasks. Attendees will come away with new skills and ideas on how to apply them to tasks such as data cleanup and renaming files in bulk, as well as knowledge of resources and strategies for continued learning about coding in an archives context.
</p>
<ul>
    <li>Regular expressions</li>
    <li>Unix shell</li>
    <li>Python</li>
    <li>And how these three useful computing tools can support your work as an archivist!</li>
</ul>