<div class="row">
  <div class="col-md-6">
  	<h3>Morning</h3>
    <table class="table table-striped">
      <tr> <td>9:00</td>  <td>Welcome and introductions</td> </tr>
      <tr> <td>9:45</td>  <td>Regular expressions</td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:15</td>  <td>Unix shell</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch</td> </tr>
    </table>
	</div>
	<div class="col-md-6">
		<h3>Afternoon</h3>
  	<table class="table table-striped">
      <tr> <td>1:30</td>  <td>Python</td> </tr>
      <tr> <td>3:00</td>  <td>Break</td> </tr>
      <tr> <td>3:15</td>  <td>Python, continued</td> </tr>
      <tr> <td>4:00</td>  <td>Wrap up</td> </tr>
      <tr> <td>4:30</td>  <td>END</td> </tr>
    </table>
  </div>
 </div>
